# -------------------------------------------------------------------
# ESP-IDF build artifacts
# -------------------------------------------------------------------
# Carpeta de salida (la más importante)
**/build/
**/build_dir/

# Archivos temporales de CMake y configuración
**/CMakeCache.txt
**/CMakeFiles/
**/compile_commands.json
**/cmake_install.cmake
**/Makefile
build/
sdkconfig.old
sdkconfig.temp

# Archivos generados por el sistema de particiones
/partitions*.bin

# Componentes gestionados (se descargan solos)
managed_components/
dependencies.lock

# Artefactos de flasheo
*.elf
*.map
*.bin
*.zip

# --- Archivos Temporales y de Backup de KiCad ---
*.bak
*.kicad_prl
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups/
_autosave-*

# --- Archivos de Bloqueo (Lock files) ---
*.lck

# --- Salidas de Fabricación (Generados) ---


# --- Visualización 3D y Caché ---
# Solo ignorar si no quieres compartir tus modelos 3D personalizados
# Si usas los de la librería estándar, no hace falta subirlos.
fp-info-cache
/packages3d/

# --- Archivos de Sistema ---
.DS_Store
Thumbs.db

.history
*.history

# Archivos de proyecto específicos de ESP-IDF
ESP32_OLIMEX/

# -------------------------------------------------------------------
# Configuraciones
# -------------------------------------------------------------------
# Archivo de configuración de ESP-IDF
sdkconfig
sdkconfig.old

# Archivos de particiones (generados)
/partitions*.bin
/partitions*.csv

# -------------------------------------------------------------------
# Artefactos de flasheo y logs
# -------------------------------------------------------------------
*.elf
*.map
*.bin
*.hex
*.log

# -------------------------------------------------------------------
# Entornos de desarrollo y editores
# -------------------------------------------------------------------
# Visual Studio Code
.vscode/
/.vscode/*

# CLion, IntelliJ IDEA
.idea/
/*.iml

# Eclipse
.project
.cproject
.settings/

# -------------------------------------------------------------------
# Caché de Python
# -------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------------------------------------------
# Otros
# -------------------------------------------------------------------
# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Logs diversos
*.log

# Archivos swap de editores
*~
*.swp

dist

# Frontend
front/.vscode
front/node_modules
front/dist
front/package-lock.json

AGENTS.md

.managed_components
/managed_components/