# -------------------------------------------------------------------
# ESP-IDF build artifacts
# -------------------------------------------------------------------
# Carpeta de salida (la más importante)
**/build/
**/build_dir/

# Archivos temporales de CMake y configuración
**/CMakeCache.txt
**/CMakeFiles/
**/compile_commands.json
**/cmake_install.cmake
**/Makefile
build/
sdkconfig.old
sdkconfig.temp

# Archivos generados por el sistema de particiones
/partitions*.bin

# Componentes gestionados (se descargan solos)
managed_components/
dependencies.lock

# Artefactos de flasheo
*.elf
*.map
*.bin