# -------------------------------------------------------------------
# ESP-IDF build artifacts
# -------------------------------------------------------------------
# Carpeta de salida de compilación
/build/
/build_dir/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/compile_commands.json
/make.extras
/makefile
/components/*/_build/
/components/*/CMakeLists.txt.user

# Proyecto con CMake (v4+)
/build/

# -------------------------------------------------------------------
# Configuraciones
# -------------------------------------------------------------------
# Archivo de configuración de ESP-IDF
sdkconfig
sdkconfig.old

# Archivos de particiones (generados)
/partitions*.bin
/partitions*.csv

# -------------------------------------------------------------------
# Artefactos de flasheo y logs
# -------------------------------------------------------------------
*.elf
*.map
*.bin
*.hex
*.log

# -------------------------------------------------------------------
# Entornos de desarrollo y editores
# -------------------------------------------------------------------
# Visual Studio Code
.vscode/
/.vscode/*

# CLion, IntelliJ IDEA
.idea/
/*.iml

# Eclipse
.project
.cproject
.settings/

# -------------------------------------------------------------------
# Caché de Python
# -------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------------------------------------------
# Otros
# -------------------------------------------------------------------
# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Logs diversos
*.log

# Archivos swap de editores
*~
*.swp

dist

# Frontend
front/.vscode
front/node_modules
front/dist
front/package-lock.json

AGENTS.md

.managed_components
/managed_components/