# --- Archivos Temporales y de Backup de KiCad ---
*.bak
*.kicad_prl
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups/
_autosave-*

# --- Archivos de Bloqueo (Lock files) ---
*.lck

# --- Salidas de Fabricación (Generados) ---
# Es mejor generarlos cada vez, no subirlos al repo
/gerbers/
/outputs/
*.gbr
*.drl
*.pdf
*.csv
*.pos

# --- Visualización 3D y Caché ---
# Solo ignorar si no quieres compartir tus modelos 3D personalizados
# Si usas los de la librería estándar, no hace falta subirlos.
fp-info-cache
/packages3d/

# --- Archivos de Sistema ---
.DS_Store
Thumbs.db

.history
*.history